<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <a href="{{site.url}}{{site.baseurl}}/DownloadFolder/CV_MéchineauMatthieu.pdf" target="_blank" rel="noopener"><img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}} "></a>
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p style="text-align: justify;" >{{site.author-about}}</p>
                    <br>
                    <div class="container columns ">
                        <div>
                            <a id="button-about" href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Me contacter</a>
                            </a>
                        </div>
                        <!--
                        <div>
                            <a id="button-about" href="{{site.url}}{{site.baseurl}}/poems"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Poèmes</a>
                            </a>
                        </div>
                        -->
                        <div>
                            <a id="button-about" href="{{site.url}}{{site.baseurl}}/projets_jv"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projets Jeux-Vidéos</a>
                            </a>
                        </div>
                        <div>
                            <a id="button-about" href="{{site.url}}{{site.baseurl}}/projets_others"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Mes autres Projets</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>